*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: #F4F7FF;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    border-radius: 16px;
    background-color: #ffffff;
    
}
.navber-left-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}
.navber-left-container img{
    width: 60px;
    height: 60px;
}

.navber-left-container h1{
    margin-left: 5px;
    font-size: 35px;
    font-weight: 300;
}
.navber-right-container{
    display: flex;
    gap: 10px;
    padding: 10px 20px;
}
.navber-right-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: #F4F7FF;
    border-radius: 32px;
}
.navber-right-container div img{
    width: 30px;
    height: 30px;
}
.navber-right-container > img{
    width: 50px;
    height: 50px;
    padding: 10px ;
    background-color: #F4F7FF;
    border-radius: 50%;
    cursor: pointer;
}

.main-container{
    display: flex;
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    height: 84vh;
}
.main-left-container{
    background-color: #ffffff;
    width: 70%;
    border-radius: 16px;
}
.main-left-top-container{
    display: flex;
    gap: 20px;
    margin: 20px;
    
}
.main-left-top-container .main-left-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 30%;
    background-color: #F4F7FF;
    padding: 10px 20px;
    border-radius: 16px;
}
.main-left-top-container .main-left-1 .image-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 50%;
}
.main-left-top-container .main-left-1 h4{
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 48, 60);
}
.main-left-top-container .main-left-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background: linear-gradient(130.70deg, rgb(55, 82, 253) 0.419%,rgb(108, 127, 250) 52.66%,rgb(155, 168, 248) 99.733%);
    padding: 10px 20px;
    border-radius: 16px;
    text-decoration: none;
}
.main-left-top-container .main-left-2 img{
    border: 2px dashed rgb(187, 142, 58);
}
.main-left-top-container .main-left-2 h1{
    width: 80%;
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    margin-left: 20px;
}
.main-left-top-container .main-left-3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 30%;
    background-color: #F4F7FF;
    padding: 10px 20px;
    border-radius: 16px;
}
.main-left-top-container .main-left-3 .image-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 50%;
}
.main-left-top-container .main-left-3 h4{
    font-size: 18px;
    font-weight: 500;
    color: rgb(0, 48, 60);
}
.main-right-container{
    background-color: #ffffff;
    width: 30%;
    border-radius: 16px;
}

.main-left-bottom-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
    border-top: 1px dashed rgba(55, 82, 253, 0.2);
    padding-top: 20px;
}
.main-left-bottom-container .task-card{
    background-color: #F4F7FF;
    padding: 20px;
    border-radius: 16px;
}
.main-left-bottom-container .task-card button{
    color: rgb(0, 48, 60);
    font-size: 16px;
    font-weight: 400;
    padding: 5px 7px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 12px;
}
.main-left-bottom-container .task-card h2{
    color: rgb(0, 48, 60);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 12px;
}
.main-left-bottom-container .task-card .p-box{
    padding: 10px 10px;
    background-color: #ffffff;
    border-radius: 5px;
    height: 45px;
    overflow: hidden;
    margin-bottom: 15px;
}
.main-left-bottom-container .task-card p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
}
.main-left-bottom-container .task-card .down-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.8px dashed rgba(55, 82, 253, 0.2);
    padding-top: 12px;
}
.main-left-bottom-container .task-card .down-box h4{
    color: rgb(0, 48, 60);
    font-size:  14px;
    font-weight: 400;
    opacity: 0.7;
}
.main-left-bottom-container .task-card .down-box h2{
    color: rgb(0, 48, 60);
    font-size:  16px;
    font-weight: 500;
}
.main-left-bottom-container .task-card .down-box button{
    border-radius: 8px;
    background: rgb(55, 82, 253);
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    cursor: pointer;
}

.main-right-top-container{
    border-bottom: 1px dashed rgba(55, 82, 253, 0.2);
}
.main-right-top-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px 0px;
}
.main-right-top-container div h1{
    color: rgb(0, 48, 60);
    font-size: 20px;
    font-weight: 500;
}
.main-right-top-container button{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    background: rgb(55, 82, 253);
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.main-right-bottom-container .history-box{
    background-color: #F4F7FF;
    border-radius: 8px;
    margin: 20px;
    padding: 10px 20px;
}
.main-right-bottom-container .history-box p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.disabled-button{
    opacity: 0.2 !important;
    color: rgb(255, 255, 255) !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    border-radius: 8px !important;
    background: rgb(55, 82, 253) !important;
    padding: 10px 20px 10px 20px !important;
    cursor: pointer !important;
}

#back-to-desk{
    display: flex;
    align-items: center;
    font-size: 18px;
    border-radius: 8px;
    background: rgb(55, 82, 253);
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}
.faq-section{
    width: 80%;
    margin: 20px auto;
}
.faq-section h1{
    text-align: center;
}
.faq-card{
    margin-top: 20px;
    background-color: #ffffff;
}
.faq-card div{
    padding: 20px;
}
.faq-card div:nth-child(1){
    border-bottom: 2px dashed rgb(90, 88, 156);
}